BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk_50mhz" SITE "1" ;
LOCATE COMP "pwr_good" SITE "14" ;
LOCATE COMP "rstn" SITE "21" ;
LOCATE COMP "spare3" SITE "74" ;
LOCATE COMP "system_reset_n" SITE "13" ;
LOCATE COMP "TA_shutdown" SITE "58" ;
LOCATE COMP "adc_convert" SITE "97" ;
LOCATE COMP "adc_sck" SITE "99" ;
LOCATE COMP "calibrated_led_n" SITE "31" ;
LOCATE COMP "gpio1" SITE "29" ;
LOCATE COMP "gpio2" SITE "27" ;
LOCATE COMP "gpio3" SITE "28" ;
LOCATE COMP "gpio4" SITE "30" ;
LOCATE COMP "heartbeat_n" SITE "49" ;
LOCATE COMP "laser_pwr_en1_n" SITE "18" ;
LOCATE COMP "peak_error_led_n" SITE "32" ;
LOCATE COMP "pulse_error_led_n" SITE "34" ;
LOCATE COMP "rate_error_led_n" SITE "35" ;
LOCATE COMP "spare1" SITE "69" ;
LOCATE COMP "spare2" SITE "71" ;
LOCATE COMP "spare4" SITE "70" ;
LOCATE COMP "test_fail_led_n" SITE "37" ;
LOCATE COMP "test_pass_led_n" SITE "36" ;
LOCATE COMP "watchdog_timeout_led_n" SITE "25" ;
LOCATE COMP "scl" SITE "88" ;
LOCATE COMP "sda" SITE "87" ;
LOCATE COMP "prom_scl" SITE "52" ;
LOCATE COMP "prom_sda" SITE "51" ;
LOCATE COMP "adc_sdo" SITE "98" ;
LOCATE COMP "laser_pulse" SITE "7" ;
LOCATE COMP "select" SITE "78" ;
